.about11_section_block_inner_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.about11_section_title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 64px;
    text-align: left;
    margin-bottom: 50px;
    letter-spacing: -1px;
    color: #2A2951;
}



@media only screen and (max-width: 450px) {

.about11_section_block_inner_wrapper {
    flex-direction: column;
}

}
