body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1526px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.title_formate {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #de3907;
}

.description_formate {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #2a2951;
}

@media only screen and (max-width: 1024px) {
  .title_formate {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    color: #de3907;
  }

  .description_formate {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }
}

@media only screen and (max-width: 450px) {
  .title_formate {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
  }

  .description_formate {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }
}
